 <!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <base #href="" />

	<!-- Basic Page Needs
     ================================================== -->
	 <meta charset="utf-8">
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>{{tittle}}</title>
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">

	 
	 <!-- Mobile Specific Metas
     ================================================== -->
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="format-detection" content="telephone=no">
	 
     
	 
     <!-- Favicons
     ================================================== -->
     <link rel="icon" type="image/png" href="/static/images/favicon.png">
     
	 
     <!-- Fonts
     ================================================== -->
     <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
     
    <!-- CSS
     ================================================== -->
	
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">

	<!-- advisor -->
	<link rel="stylesheet" href="/static/css/advisor.css">

	<!-- plugins -->
	<link rel="stylesheet" href="/static/css/plugins.css">	

	<!-- advisor color -->
	<link rel="stylesheet" id="color" href="/static/css/color-default.css">

	<!-- revolution slider -->
	<link rel="stylesheet" href="/static/css/settings.css">
	
	<!-- responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">

    
	<script src="/static/js/modernizr.js"></script>
	
	
</head>
    <body class="fixed-header two">

       {{>header}}



		<div style="text-align: center;">
			<div class="container" style="margin-top: 80px;" >
				<h1 style="color: #333; ">No User Found</h1>
				<p style="color: #333;">We couldn't find the user you're looking for. Please check the entered information and try again.</p>
			</div>
		</div>




   {{>footer}}

<!-- FOOTER SCRIPTS
		================================================== -->
		<script src="/static/js/jquery-2.2.0.js"></script>
		<script src="/static/js/smooth-scroll.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/counter.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/jquery.themepunch.plugins.min.js"></script>
		<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/js/scripts.js"></script>
        <script src="/static/js/banner.js"></script>

		
		
		
		<!-- DEMO -->
		<script src="/static/demo-files/js/jquery.cookie.js"></script>
		<script src="/static/demo-files/js/switcher.js"></script>
		
		

    </body>

</html>