<footer id="footer">
				<div class="container">
					<div class="footer-top clearfix">
						
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="footer-logo animate fadeInLeft"><a href="/"><img src="/static/images/logo1.png" alt=""></a></div>
							</div>
							<div class="col-md-9 col-sm-9">
								<p>Advisor offers comprehensive financial planning services to help individuals and businesses achieve their financial goals. Our expert advisors tailor strategies to meet your unique needs.</p>
							</div>
						</div>
					
						<div class="height-50"></div>
						
						<div class="footer-left">
							<div class="footer-address-widget clearfix">
								<ul>
									<li><i class="icon-telephone114"></i>+1 900 234 567<a href="mailto:support@advisor.com">supprt@advisor.com</a></li>
									<li><i class="icon-icons74"></i>Manhattan Hall,<span>Advisor Ltd 1258, Melbourne, australia</span></li>
								</ul>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="usefull-links-widget clearfix">
										<h4>Use full Links</h4>
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="/about">About Us</a></li>
											<li><a href="/login">Login</a></li>
											<li><a href="/contact">Contact Us</a></li>
										</ul>
										<ul>
											<li><a href="/japan-desk">Japan Desk</a></li>
											<li><a href="/Singapore-desk">Singapore Desk</a></li>
											<li><a href="/Nri-Desk">NRI Desk</a></li>
											<li><a href="/north-america-desk">North America Desk</a></li>
											<li><a href="/european-desk">European Desk</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">
									<ul class="social" style="margin-top: 100px;">
										<li class="animate bounceIn"><a href="#." class="facebook"><i class="icon-facebook-1"></i></a></li>
										<li class="animate bounceIn" data-delay="100"><a href="#." class="twitter"><i class="icon-twitter-1"></i></a></li>
										<li class="animate bounceIn" data-delay="200"><a href="#." class="google-plus"><i class="icon-google"></i></a></li>
										<li class="animate bounceIn" data-delay="300"><a href="#." class="linkedin"><i class="icon-linkedin3"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="footer-right">
							<div class="newsletter-widget">
								<h4>Our Newsletter</h4>
								<p>Navigating Your Financial Future with Precision.</p>
								<div class="form">
									<p class="subscribe_success" id="subscribe_success" style="display:none;"></p>
									<p class="subscribe_error" id="subscribe_error" style="display:none;"></p>
								
									<form id="subscribe_form"  action="/about" method="post" >
										<input type="text" data-delay="300" placeholder="Your Name" name="name" id="subscribe_name"  class="input"  required>
										<input type="text" data-delay="300" placeholder="Email Address" name="email" id="subscribe_email" class="input" required>
										<button class="btn btn-primary" name="Subscribe" type="submit" data-text="Subscribe">Subscribe</button>
									</form>
								
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6"><p>Coyright © 2024 Incubation Master All rights reserved.</p></div>
							<div class="col-md-6 col-sm-6"><p class="text-right">Designed by <a href="#">Incubation Team</a></p></div>
						</div>
					</div>
				</div>
				
			</footer>