<!-- HERDER -->
            <header id="header" class="header-two h-two-h">
            	
				<!-- TOP BAR -->
				<div class="top-bar-simple clearfix">
					<div class="container">
						<p>We have over 15 years of experience.</p>
						<ul class="social">
							<li><a href="#." class="facebook"><i class="icon-facebook-1"></i></a></li>
							<li><a href="#." class="twitter"><i class="icon-twitter-1"></i></a></li>
							<li><a href="#." class="google-plus"><i class="icon-google"></i></a></li>
							<li><a href="#." class="linkedin"><i class="icon-linkedin3"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- / TOP BAR -->
				
				
				<div class="container">
					
					<!-- HEADER INNER -->
					<div class="header clearfix">
						
						<a href="/" class="logo"><img src="/static/images/logo1.png" width="150px" alt=""></a>
						
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-nav" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<div class="search-btn">
							<a href="javascript:void(0);" class="search-trigger"><i class="icon-icons185"></i></a>
						</div>
						
						
						<div class="search-container">
							<i class="fa fa-times header-search-close"></i>
							<div class="search-overlay"></div>
							<div class="search">
								<form>
									<label>Search:</label>
									<input type="text" placeholder="">
									<button><i class="fa fa-search"></i></button>
								</form>
							</div>
						</div>
						
						
						<ul class="header-contact-widget clearfix">
							<li>
								<i class="icon-telephone114"></i>
								<p>+1 900 234 567<a href="mailto:support@advisor.com">support@advisor.com</a></p>
							</li>
							<li>
								<i class="icon-icons74"></i>
								<p>Manhattan Hall,<span>Advisor Melbourne, australia</span></p>
							</li>
							<li>
								<i class="icon-icons20"></i>
								<p>08:00 - 16:30<span>Monday to Saturday</span></p>
							</li>
						</ul>
						
						
					</div><!-- / HEADER INNER -->
					
					
					<nav class="main-nav navbar-collapse collapse" id="primary-nav">
						<ul class="nav nav-pills">
							<li class="dropdown active"><a href="/">Home</a>
								
							</li>
							<li class="dropdown"><a href="#">Start Up <i class="fa fa-caret-down"></i></a>	
                                     <ul class="dropdown-menu">
									    <li><a href="#">Private Limited Company Registration</a></li>
										<li><a href="#">Limited Liability Partnership (LLP)</a></li>
										<li><a href="#">One Person Company (OPC)</a></li>
										<li><a href="#">Partnership Firm Registration</a></li>
										<li><a href="#">Section 8 Company (NGO)</a></li>
										<li><a href="#">Trust Registration</a></li>
										<li><a href="#">Society Registration</a></li>
										<li><a href="#">Partnership to LLP Registration</a></li>
										<li><a href="#">Business Consultant for Startups</a></li>
										<li><a href="#">Producer Company Registration</a></li>
										</ul>
									
							</li>
									<li class="dropdown"><a href="#">Tax <i class="fa fa-caret-down"></i></a>

                                     <ul class="dropdown-menu">
										<li><a href="#">GST Registration</a></li>
										<li><a href="#">PAN/TAN Application</a></li>
										<li><a href="#">12A and 80G Registration</a></li>
										<li><a href="#">RCMC Registration</a></li>
									
									
										</ul>
								</li>	

									<li class="dropdown"><a href="#">Compliance <i class="fa fa-caret-down"></i></a>

                                     <ul class="dropdown-menu">
										<li><a href="#">Accounts Receivable Management</a></li>
										<li><a href="#">Accounts Payable Management</a></li>
										<li><a href="#"> Accounting and Bookkeeping Services</a></li>
										<li><a href="#">GST Compliance </a></li>
										<li><a href="#">Income Tax Compliances</a></li>
										<li><a href="#">TDS Compliance</a></li>
										<li><a href="#">Accounting Outsourcing Services </a></li>
									
									
										</ul>
								</li>	
                                 
							
							<li class="dropdown"><a href="#">Virtual CFO <i class="fa fa-caret-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#"> Virtual CFO Services</a></li>
									<li><a href="#">CA Services for Startups</a></li>
									<li><a href="#">Legal Services for Start-ups</a></li>
									<li><a href="#">Company Valuation for Startups</a></li>
									<li><a href="#">Financial Modelling for Startups</a></li>
									<li><a href="#">Startup Consultancy Services</a></li>
									<li><a href="#">Financial Reporting Services</a></li>
									<li><a href="#">Tax Consultancy Services</a></li>
									<li><a href="#">Remote CFO Services</a></li>
									<li><a href="#">On Demand CFO</a></li>
									<li><a href="#">Hire Virtual CFO</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#.">International Desk <i class="fa fa-caret-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="/japan-desk">Japan  Business Desk</a></li>
									<li><a href="/north-america-desk">North America Business Desk</a></li>
									<li><a href="/european-desk">European Business Desk</a></li>
									<li><a href="/Singapore-desk">Singapore Business Desk</a></li>
									<li><a href="/Nri-Desk">NRI Business Desk</a></li>
									<!-- <li><a href="services.html">Trades</a></li> -->
								</ul>
							</li>
							<li><a href="/about">About Us</a></li>
							<li class="dropdown"><a href="/contact">Contact Us</a></li>
						</ul>
					</nav>
					
					
                </div><!-- / CONTAINER -->
				
            </header><!-- / HERDER -->
            