



<div class="container-fluid">
  <h3 id="pricing">Pricing</h3>
  <p class="pricing">Complete the entire process and chat with us</p>
  <div class="container">
    <div class="pricing-table">
    <div class="pricing-column">
      <div class="pricing-header">
        <h5>Income Text Filling</h5>
         <div id="hr"></div>
        <p class="price">999<sub>/Month</sub></p>
      </div>
      <div class="hr"></div>
      <ul class="features">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
      </ul>
      <button class="btn">Choose Plan</button>
    </div>
    <div class="pricing-column">
      <div class="pricing-header">
        <h5>Annual Compliance</h5>
        <p class="price">16999<sub>/Year</sub></p>
      </div>
      <ul class="features">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
      </ul>
      <button class="btn">Choose Plan</button>
    </div>
    <div class="pricing-column">
      <div class="pricing-header">
        <h5>Virtual CFO</h5>
        <p class="price">499<sub>/Month</sub></p>
      </div>
      <ul class="features">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
        <li>Feature 5</li>
      </ul>
      <button class="btn">Choose Plan</button>
    </div>
  </div>
  </div>
</div>


  

 






     