<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <base #href="" />

	<!-- Basic Page Needs
     ================================================== -->
	 <meta charset="utf-8">
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>{{tittle}}</title>
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">

	 
	 <!-- Mobile Specific Metas
     ================================================== -->
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="format-detection" content="telephone=no">
	 
     
	 
     <!-- Favicons
     ================================================== -->
     <link rel="icon" type="image/png" href="/static/images/favicon.png">
     
	 
     <!-- Fonts
     ================================================== -->
     <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
     
    <!-- CSS
     ================================================== -->
	
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">

	<!-- advisor -->
	<link rel="stylesheet" href="/static/css/advisor.css">

	<!-- plugins -->
	<link rel="stylesheet" href="/static/css/plugins.css">	

	<!-- advisor color -->
	<link rel="stylesheet" id="color" href="/static/css/color-default.css">

	<!-- revolution slider -->
	<link rel="stylesheet" href="/static/css/settings.css">
	
	<!-- responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">

    
	<script src="/static/js/modernizr.js"></script>
	
	
</head>
    <body class="fixed-header two">
	    	
            
			
			<!-- LOADER -->
			<div id="loader" class="loader">
				<div class="spinner">
				  <div class="double-bounce1"></div>
				  <div class="double-bounce2"></div>
				</div>
			</div>
    {{>header}}
         <section class="subpage-header">
    <div class="container">
        <div class="site-title clearfix">
            <h2>About Us</h2>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
        <a href="/contact" class="btn btn-primary get-in-touch" data-text="Contact us"><i class="icon-telephone114"></i>Contact us</a>
    </div>
</section>



<!-- COMPANY OVERVIEW -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 animate fadeInLeft">
                <h2>Company overview</h2>
                <div class="height-10"></div>
                <p>Advisor offers comprehensive financial planning services to help individuals and businesses achieve their financial goals. Our expert advisors tailor strategies to meet your unique needs.</p>
            </div>
            <div class="col-md-6 animate fadeInRight">
                <div class="image-widget">
                    <img src="/static/images/about-img1.jpg" class="img-shadow" alt="">
                </div>
            </div>
        </div>
    </div>
</section><!-- / COMPANY OVERVIEW -->



<!-- COMPANY HISTORY -->
<section class="bg-blue">
    <div class="container">
        <div class="heading margin-bottom-50 animate bounceIn">
            <h2>Company History</h2>
            <p>it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p>
        </div>
        <ul class="company-history">
            <li class="clearfix animate fadeInLeft">
                <span class="year">1999</span>
                <div class="history-content">
                    <h4> The Genesis: </h4>
                    <p>In 1999, Advisor was born out of a vision to redefine the financial services landscape. A group of seasoned professionals, fueled by a shared passion for empowering individuals in their financial journey, established Advisor as a beacon of trust and expertise.</p>
                </div>
            </li>
            <li class="clearfix animate fadeInLeft" data-delay="100">
                <span class="year">2005</span>
                <div class="history-content">
                    <h4> Expanding Horizons:</h4>
                    <p>Fast forward to 2005, and Advisor had not only weathered the challenges of the financial world but had also grown into a dynamic force. The expansion of services, coupled with a commitment to client-centric principles, marked a pivotal moment. Advisor became synonymous with personalized financial solutions and innovation. </p>
                </div>
            </li>
            <li class="clearfix animate fadeInLeft" data-delay="200">
                <span class="year">2023</span>
                <div class="history-content">
                    <h4>A Digital Era Unleashed:</h4>
                    <p>As we entered 2023, Advisor embraced the digital age, revolutionizing how financial services were delivered. Cutting-edge technology, coupled with a relentless pursuit of excellence, positioned Advisor as a leader in providing seamless and efficient financial solutions. The year 2023 marked a significant milestone in our journey towards a future where financial success is accessible to all</p>
                </div>
            </li>
        </ul>
    </div>
</section><!-- / COMPANY HISTORY -->


<!-- HIGHLIGHTED-SEC -->
<section>
    <div class="container">
        <ul class="highlighted-sec clearfix">
            <li>
                <div class="text-box animate bounceIn">
                    <i class="icon-img-1 white"></i>
                    <h4>Advisor</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
                </div>
            </li>
            <li>
                <div class="text-box animate bounceIn" data-delay="100">
                    <i class="icon-img-2 white"></i>
                    <h4>Save Money</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
                </div>
            </li>
            <li>
                <div class="text-box animate bounceIn" data-delay="200">
                    <i class="icon-img-3 white"></i>
                    <h4>Secure Future</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
                </div>
            </li>
            <li>
                <div class="text-box animate bounceIn" data-delay="300">
                    <i class="icon-img-4 white"></i>
                    <h4>Business Services</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
                </div>
            </li>
            <li>
                <div class="text-box animate bounceIn" data-delay="400">
                    <i class="icon-img-5 white"></i>
                    <h4>Financial Services</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
                </div>
            </li>
            <li>
                <div class="text-box animate bounceIn" data-delay="500">
                    <i class="icon-img-6 white"></i>
                    <h4>Transport & Logistics</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- HIGHLIGHTED-SEC -->


<!-- OUR TEAM -->
<section class="bg-blue">
    <div class="container">
        <div class="heading margin-bottom-50 animate bounceIn" data-delay="200">
            <h2>Our Expert Team</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p> -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-member animate fadeInUp">
                    <img src="/static/images/team/1.jpg" alt="">
                    <h4>Brandon Copperfield<span>Chief Finance Officer</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p>
                    <ul class="social-text">
                        <li><a class="facebook" href="#.">facebook</a></li>
                        <li><a class="twitter" href="#.">twitter</a></li>
                        <li><a class="youtube" href="#.">youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member animate fadeInUp" data-delay="100">
                    <img src="/static/images/team/2.jpg" alt="">
                    <h4>Retirement<span>Head of Investment</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p>
                    <ul class="social-text">
                        <li><a class="facebook" href="#.">facebook</a></li>
                        <li><a class="twitter" href="#.">twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member animate fadeInUp" data-delay="200">
                    <img src="/static/images/team/3.jpg" alt="">
                    <h4>Retirement<span>Tax Advice</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p>
                    <ul class="social-text">
                        <li><a class="facebook" href="#.">facebook</a></li>
                        <li><a class="twitter" href="#.">twitter</a></li>
                        <li><a class="youtube" href="#.">youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-member animate fadeInUp" data-delay="300">
                    <img src="/static/images/team/4.jpg" alt="">
                    <h4>Brandon Copperfield<span>Chief Finance Officer</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p>
                    <ul class="social-text">
                        <li><a class="facebook" href="#.">facebook</a></li>
                        <li><a class="twitter" href="#.">twitter</a></li>
                        <li><a class="youtube" href="#.">youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member animate fadeInUp" data-delay="400">
                    <img src="/static/images/team/5.jpg" alt="">
                    <h4>Retirement<span>Head of Investment</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p>
                    <ul class="social-text">
                        <li><a class="facebook" href="#.">facebook</a></li>
                        <li><a class="twitter" href="#.">twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / OUR TEAM -->



<!-- OUR PARTNERS -->
<section>
    <div class="container">
        <div class="heading margin-bottom-50 animate bounceIn">
            <h2>Our Partners</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p> -->
        </div>
        <div class="two-items-carousel owl-carousel">
            <div class="partner animate fadeInLeft">
                <img src="/static/images/partners/1.jpg" alt="">
                <div class="partner-content">
                    <h4>Adup Media LLC<span>Athletic Performance</span></h4>
                    <p>Adup Media LLC, our trusted partner, is a dynamic player in the digital marketing landscape. Specializing in targeted advertising solutions, Adup Media LLC helps businesses reach their audiences effectively, driving engagement and maximizing visibility. </p>
                </div>
            </div>
            <div class="partner animate fadeInRight">
                <img src="/static/images/partners/2.jpg" alt="">
                <div class="partner-content">
                    <h4>Primo Software<span>Software Development</span></h4>
                    <p>Primo Software, our esteemed partner, is a leading provider of cutting-edge software solutions. Specializing in innovative technologies, Primo Software empowers businesses with robust tools for seamless operations, enhanced productivity, and transformative digital experiences</p>
                </div>
            </div>
            <div class="partner">
                <img src="#" alt="">
                <div class="partner-content">
                    <h4>GreenHarbor EcoTech<span>Athletic Performance</span></h4>
                    <p> GreenHarbor EcoTech is at the forefront of environmental innovation, providing eco-friendly solutions for businesses committed to sustainability. From renewable energy projects to waste reduction strategies, we partner with clients to create a greener and more sustainable future.</p>
                </div>
            </div>
            <div class="partner">
                <img src="#" alt="">
                <div class="partner-content">
                    <h4>TechVista Solutions<span>Software Development</span></h4>
                    <p>TechVista Solutions is a technology consultancy firm that leverages cutting-edge solutions to drive digital transformation. With a focus on innovation, we help businesses navigate the complex landscape of technological evolution, ensuring they stay ahead of the curve</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / OUR PARTNERS -->

    {{>footer}}

<!-- FOOTER SCRIPTS
		================================================== -->
		<script src="/static/js/jquery-2.2.0.js"></script>
		<script src="/static/js/smooth-scroll.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/counter.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/jquery.themepunch.plugins.min.js"></script>
		<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/js/scripts.js"></script>
        <script src="/static/js/banner.js"></script>

		
		
		
		<!-- DEMO -->
		<script src="/static/demo-files/js/jquery.cookie.js"></script>
		<script src="/static/demo-files/js/switcher.js"></script>
		
		

    </body>

</html>