<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <base #href="" />

	<!-- Basic Page Needs
     ================================================== -->
	 <meta charset="utf-8">
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>{{tittle}}</title>
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">

	 
	 <!-- Mobile Specific Metas
     ================================================== -->
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="format-detection" content="telephone=no">
	 
     
	 
     <!-- Favicons
     ================================================== -->
     <link rel="icon" type="image/png" href="/static/images/favicon.png">
     
	 
     <!-- Fonts
     ================================================== -->
     <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
     
    <!-- CSS
     ================================================== -->
	
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">

	<!-- advisor -->
	<link rel="stylesheet" href="/static/css/advisor.css">

	<!-- plugins -->
	<link rel="stylesheet" href="/static/css/plugins.css">	

	<!-- advisor color -->
	<link rel="stylesheet" id="color" href="/static/css/color-default.css">

	<!-- revolution slider -->
	<link rel="stylesheet" href="/static/css/settings.css">
	
	<!-- responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">

    
	<script src="/static/js/modernizr.js"></script>
	
	
</head>
    <body class="fixed-header two">
	    	
            
			
			<!-- LOADER -->
			<div id="loader" class="loader">
				<div class="spinner">
				  <div class="double-bounce1"></div>
				  <div class="double-bounce2"></div>
				</div>
			</div>
    {{>header}}
         <section class="subpage-header">
    <div class="container">
        <div class="site-title clearfix">
            <h2>Contact Us</h2>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
        <a href="/contact" class="btn btn-primary get-in-touch" data-text="Contact us"><i class="icon-telephone114"></i>Contact us</a>
    </div>
</section>



<!-- CONTACT US -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 animate fadeInLeft">
                <h3>Your  Queries</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img src="/static/images/sales-quries-img.jpg" class="quries-img" alt="">
                        <div class="height-20"></div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <p>You have questions about our financial services, need assistance with your account, or have general inquiries, we're here to help. Please feel free to reach out using the contact information provided above.</p>
                    </div>
                </div>
                <div class="height-20"></div>
                <div class="height-50"></div>
            </div>
            
            <div class="form">
            <div class="col-md-6 col-sm-6 animate fadeInRight">
            
                <p class="success" id="success" style="display:none;"></p>
                <p class="error" id="error" style="display:none;"></p>
            
                <form class="contact-form" action="/contact"   method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your full name" name="name" class="input" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text"  placeholder="E-mail Address" name="email"  class="input" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text"  placeholder="Phone No" name="phone"  class="input" required>
                        </div>
                    </div>
                    <textarea data-delay="500" class="required valid" placeholder="Message" name="message" required></textarea>
                    <button class="btn btn-primary"  type="submit" data-text="Send Message">Send Message</button>
                </form>
                
                
            </div>
            </div>
            
        </div>
    </div>
</section><!-- / COMPANY OVERVIEW -->
    {{>footer}}


<!-- FOOTER SCRIPTS
		================================================== -->
		<script src="/static/js/jquery-2.2.0.js"></script>
		<script src="/static/js/smooth-scroll.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/counter.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/jquery.themepunch.plugins.min.js"></script>
		<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/js/scripts.js"></script>
        <script src="/static/js/banner.js"></script>

		
		
		
		<!-- DEMO -->
		<script src="/static/demo-files/js/jquery.cookie.js"></script>
		<script src="/static/demo-files/js/switcher.js"></script>
		
		

    </body>

</html>