<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <base #href="" />

	<!-- Basic Page Needs
     ================================================== -->
	 <meta charset="utf-8">
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>{{tittle}}</title>
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">

	 
	 <!-- Mobile Specific Metas
     ================================================== -->
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="format-detection" content="telephone=no">
	 
     
	 
     <!-- Favicons
     ================================================== -->
     <link rel="icon" type="image/png" href="/static/images/favicon.png">
     
	 
     <!-- Fonts
     ================================================== -->
     <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
     
    <!-- CSS
     ================================================== -->
	
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">

	<!-- pricing -->
	<link rel="stylesheet" href="/static/css/pricing.css">


	<!-- advisor -->
	<link rel="stylesheet" href="/static/css/advisor.css">

	<!-- plugins -->
	<link rel="stylesheet" href="/static/css/plugins.css">	

	<!-- advisor color -->
	<link rel="stylesheet" id="color" href="/static/css/color-default.css">

	<!-- revolution slider -->
	<link rel="stylesheet" href="/static/css/settings.css">
	
	<!-- responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">

    
	<script src="/static/js/modernizr.js"></script>
	
	
</head>
    <body class="fixed-header two">
	    	
            
			
			<!-- LOADER -->
			<div id="loader" class="loader">
				<div class="spinner">
				  <div class="double-bounce1"></div>
				  <div class="double-bounce2"></div>
				</div>
			</div>
			
			
			
			
			
			
			
			
			
            {{>header}}
			
			
			
            
            <!-- MAIN BANNER -->
            <section class="main-banner">
            
	            <div class="tp-banner-container">
					<div class="tp-banner" >
                    <ul>
						
						
						<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="/static/images/main-banner/2/1.jpg"  data-saveperformance="on"  data-title="">
                            
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/main-banner/2/1.jpg"  alt="" data-lazyload="/static/images/main-banner/2/1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    
                            
							<!-- LAYER NR. 1 -->
                            <div class="tp-caption banner-heading lft rs-parallaxlevel-0"
                                data-x="0"
                                data-y="210" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="700"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2;">Money Doesn’t
                            </div>
							
							<!-- LAYER NR. 2 -->
                            <div class="tp-caption banner-heading lft rs-parallaxlevel-0"
                                data-x="0"
                                data-y="270" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="500"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2;">Come <span class="color-default">Without Care</span>
                            </div>
                    
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption lft banner-text rs-parallaxlevel-0"
                                data-x="0"
                                data-y="340" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 3;">Finding your next Financial Advisor is as easy as counting from one to five.
                            </div>
                    
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption banner-btn colored lft banner-btn rs-parallaxlevel-0"
                                data-x="0"
                                data-y="390" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1500"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 4;"><a href="/">read more</a>
                            </div>
							
							<!-- LAYER NR. 5 -->
                            <div class="tp-caption banner-btn lft banner-btn rs-parallaxlevel-0"
                                data-x="180"
                                data-y="390" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1500"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 4;"><a href="/contact">Contact Us</a>
                            </div>
                            
                        </li>
						
						
						
						<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="/static/images/main-banner/2/2.jpg"  data-saveperformance="on"  data-title="">
                            
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/main-banner/2/2.jpg"  alt="" data-lazyload="/static/images/main-banner/2/2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    
                            
							<!-- LAYER NR. 1 -->
                            <div class="tp-caption banner-heading color-white lft rs-parallaxlevel-0"
                                data-x="center"
                                data-y="210" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="700"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2;">Clients <span class="color-default">Investment</span> Guidance
                            </div>
							
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption lft banner-text color-white rs-parallaxlevel-0"
                                data-x="center"
                                data-y="288" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 3;">With over 15 years of experience we’ll ensure you always get the best guidance
                            </div>
							
							<!-- LAYER NR. 3 -->
                            <div class="tp-caption lft banner-text color-white rs-parallaxlevel-0"
                                data-x="center"
                                data-y="315" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 3;">we’re with you every step of the way
                            </div>
                    
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption banner-btn colored lft banner-btn rs-parallaxlevel-0"
                                data-x="400"
                                data-y="370" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1500"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 4;"><a href="/">read more</a>
                            </div>
							
							<!-- LAYER NR. 5 -->
                            <div class="tp-caption banner-btn lft banner-btn rs-parallaxlevel-0"
                                data-x="580"
                                data-y="370" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1500"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 4;"><a href="/contact">Contact Us</a>
                            </div>
                            
                        </li>
						
						
						<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="/static/images/main-banner/2/3.jpg"  data-saveperformance="on"  data-title="">
                            
                            <!-- MAIN IMAGE -->
                            <img src="/static/images/main-banner/2/3.jpg"  alt="" data-lazyload="/static/images/main-banner/2/3.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    
                            
							<!-- LAYER NR. 1 -->
                            <div class="tp-caption banner-heading lft rs-parallaxlevel-0"
                                data-x="right"
                                data-y="210" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="700"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 2;">Friendly <span class="color-default">Assistance</span>
                            </div>
							
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption lft banner-text rs-parallaxlevel-0"
                                data-x="right"
                                data-y="288" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 3;">With over 15 years of experience we’ll ensure you always get the best
                            </div>
							
							<!-- LAYER NR. 3 -->
                            <div class="tp-caption lft banner-text rs-parallaxlevel-0"
                                data-x="right"
                                data-y="315" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 3;">guidance. we’re with you every step of the way
                            </div>
                    
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption banner-btn colored lft banner-btn rs-parallaxlevel-0"
                                data-x="right"
                                data-y="370" 
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="700"
                                data-start="1500"
                                data-easing="Power3.easeInOut"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                style="z-index: 4;"><a href="/contact">Contact Us today</a>
                            </div>
                            
                        </li>
						
                        
                        
                    </ul>
                </div>
            </div>
			
        </section><!-- / MAIN BANNER -->
            
			
			
			
			<!-- WELCOME -->
            <section>
				<div class="container">
					<div class="heading text-center animate bounceIn">
						<h2>Our Services</h2>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p> -->
					</div>
					
					<div class="height-50"></div>
					
					<div class="row">
						<div class="col-md-4">
							<div class="text-box text-center animate fadeInUp">
								<div class="bordered-thumb"><img src="/static/images/img2.jpg" alt=""></div>
								<h4>Investment Planning</h4>
								<p>From budgeting to retirement strategies, we offer comprehensive financial planning services.</p>
							</div>
						</div>
						<div class="col-md-4 animate fadeInUp" data-delay="100">
							<div class="text-box text-center">
								<div class="bordered-thumb"><img src="/static/images/img3.jpg" alt=""></div>
								<h4>Retirement</h4>
								<p>Secure your future with our customized retirement planning services.</p>
							</div>
						</div>
						<div class="col-md-4 animate fadeInUp" data-delay="200">
							<div class="text-box text-center">
								<div class="bordered-thumb"><img src="/static/images/img5.jpg" alt=""></div>
								<h4>Lawyers Consulting</h4>
								<p>Explore a diverse range of investment options, from bonds to commodities and investment trusts</p>
							</div>
						</div>
					</div>
				</div>
			</section><!-- / WELCOME -->
			
			
			
			<!-- DIFFERENT SERVICES -->
            <section class="different-services text-center parallax">
				<div class="container">
					<div class="heading animate bounceIn">
						<h1 class="color-white">We Love What We Do</h1>
						<!-- <p class="color-white">Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p> -->
					</div>
				</div>
			</section><!-- / DIFFERENT SERVICES -->
			
			
			
			<!-- FUNFACTS -->
			<div class="container">
				<div class="funfacts bg-white overlap-top text-center">
					<div class="advisor-overlay"></div>
					<div class="funfacts-inner">
						<h2>Helping Small Businesses</h2>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p> -->
						<div class="row text-center" id="counters">
							<div class="col-md-3 col-xs-6">
								<div class="counter">
								   <span class="quantity-counter1 highlight">0</span>
								   <h6 class="counter-details">Employees</h6>
								 </div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="counter">
								   <span class="quantity-counter2 highlight">0</span>
								   <h6 class="counter-details">Location</h6>
								 </div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="counter">
								   <span class="quantity-counter3 highlight">0</span>
								   <h6 class="counter-details">% Satisfaction</h6>
								 </div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="counter">
								   <span class="quantity-counter4 highlight">0</span>
								   <h6 class="counter-details">Happy Customers</h6>
								 </div>
							</div>
						</div>
					</div>
				</div><!-- / CONTAINER -->
				
				<section class="padding-top-5">
					<div class="services highlighted margin-0 text-center">
						<div class="three-items-carousel owl-carousel">
							<div class="service-box animate fadeInUp">
								<i class="icon-img-1 white"></i>
								<h4>Advisor</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box animate fadeInUp" data-delay="100">
								<i class="icon-img-2 white"></i>
								<h4>Save Money</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box animate fadeInUp" data-delay="200">
								<i class="icon-img-3 white"></i>
								<h4>Secure Future</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box">
								<i class="icon-img-4 white"></i>
								<h4>Advisor</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box">
								<i class="icon-img-5 white"></i>
								<h4>Save Money</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box">
								<i class="icon-img-6 white"></i>
								<h4>Secure Future</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box">
								<i class="icon-img-7 white"></i>
								<h4>Advisor</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box">
								<i class="icon-img-8 white"></i>
								<h4>Save Money</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
							<div class="service-box">
								<i class="icon-img-9 white"></i>
								<h4>Secure Future</h4>
								<!-- <p>Lorem ipsum dolor sit amet, Let it it floats back to you.</p> -->
							</div>
						</div>
					</div>
				</section>
			</div><!-- / FUNFACTS -->
			
			
			
			{{>pricing}}


				
			<div class="contact-us-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<h4>If you have any query for related investment ... We are available</h4>
						</div>
						<div class="col-md-3">
							<div class="text-right">
								<a href="/contact" class="btn btn-primary get-in-touch" data-text="Contact us"><i class="icon-telephone114"></i>Contact us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- TESTIMONIALS -->
            <section class="testi-bg parallax">
				<div class="container">
					<div class="heading text-center animate bounceIn">
						<h2>Happy Customers</h2>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore.</p> -->
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="testimonial animate fadeInUp">
								<div class="testimonial-content">
									<p>"As a first-time investor, Advisor made the daunting world of investment trusts incredibly accessible. The team's expertise and patience in explaining complex concepts were invaluable. They guided me through the process, helping me make informed decisions. I'm now seeing returns that exceed my expectations</p>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="testimonials-author">
											<img class="img-circle" src="/static/images/review-author-img.png" alt="">
											<p>Boris Hunt<span>(Sales Agent)</span></p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="text-right">
											<ul class="rating">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="testimonial animate fadeInUp" data-delay="100">
								<div class="testimonial-content">
									<p>"Retirement planning with Advisor has been a game-changer for me. The advisors took the time to understand my retirement goals and crafted a customized plan that aligns perfectly with my aspirations. Their attention to detail, coupled with regular check-ins, provides peace of mind</p>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="testimonials-author">
											<img class="img-circle" src="/static/images/review-author-img.png" alt="">
											<p>Vinod Bahadur</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="text-right">
											<ul class="rating">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a class="btn btn-bordered-white cd-see-all iconic animate fadeInUp" data-delay="200" href="javascript:void(0);" data-text="View All"><i class="icon-img-grid"></i>View All</a>
					</div>
				</div>
				
				<div class="cd-testimonials-all">
					<div class="cd-testimonials-all-wrapper">
						<ul>
							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"Executing trades with Advisor is a breeze! The user-friendly platform, coupled with real-time market insights, has been instrumental in my trading success. The support team is responsive and always ready to assist. Advisor has truly simplified the trading experience, making it enjoyable and profitable. </p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Boris Hunt<span>(Sales Agent)</span></p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore Love life’s sweetest.</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Boris Hunt<span>(Sales Agent)</span></p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"Advisor's financial planning services have been a game-changer for my family. The comprehensive approach, attention to detail, and a clear roadmap for our financial future have exceeded our expectations. The advisors are not just experts; they genuinely care about our financial well-being. It's a partnership we value, and we're grateful to have Advisor on our side."</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Ankesh Dhariya</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"The team at Advisor is not just about numbers; they genuinely care about their clients. I recently had a major life change, and they went above and beyond to adjust my financial plan accordingly. Their flexibility and understanding make them more than just financial advisors—they're partners in your financial journey."</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Linda Thompson</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"Retirement planning with Advisor has been a game-changer for me. The advisors took the time to understand my retirement goals and crafted a customized plan that aligns perfectly with my aspirations. Their attention to detail, coupled with regular check-ins, provides peace of mind</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Boris Hunt<span>(Sales Agent)</span></p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"As a first-time investor, Advisor made the daunting world of investment trusts incredibly accessible. The team's expertise and patience in explaining complex concepts were invaluable. They guided me through the process, helping me make informed decisions. I'm now seeing returns that exceed my expectations</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Boris Hunt<span>(Sales Agent)</span></p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>I highly recommend Advisor to anyone seeking comprehensive and reliable financial services. Thank you, Advisor, for being a trustworthy partner in my financial journey!"</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Boris<span>(Sales Agent)</span></p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"I've had experience with various financial services, but Advisor stands out for their commitment to innovation. Their user-friendly trading platform and up-to-date market insights have significantly improved my trading experience. The support team is quick to address any concerns. A reliable choice for traders."</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>David Chen</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"Retirement planning with Advisor was a breeze. They took the time to understand my goals and created a tailored plan that gives me peace of mind for the future. The attention to detail and commitment to delivering results make them my go-to for all things financial."</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Samantha Miller</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="cd-testimonials-item">
								<div class="testimonial">
									<div class="testimonial-content">
										<p>"I've been with Advisor for three years now, and I can't express how grateful I am for their exceptional financial planning services. The team is knowledgeable, responsive, and truly cares about my financial well-being. I've seen significant growth in my investments, and their personalized approach sets them apart</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="testimonials-author">
												<img class="img-circle" src="/static/images/review-author-img.png" alt="">
												<p>Emily Thompson</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-right">
												<ul class="rating">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<a href="javascript:void(0);" class="close-btn">Close</a>
					
				</div>
				
			</section><!-- / BENIFITS -->
			
			
			
		
				<div class="container">
					<div class="request-a-callback clearfix animate fadeInUp">
						<div class="request-a-callback-content">
							<h3>Request a Call Back</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut.</p>
							<p><strong>For Investment:</strong> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non qui dolorem or phone +11 987 654 3210 ipsum quia dolor sit amet, consectetur.</p>
						</div>
						<div class="request-a-callback-form">
							<form action="/" method="post">
								<input type="text" placeholder="Your Name" name="name" required>
								<input type="text" placeholder="Email Address" name="email" required>
								<input type="text" placeholder="Phone Number" name="phone" required>
								<div class="styled-select">
									<select name="select" required>
										<option value="none">I would like to discuss:</option>
										<option value="finance">Personal Finance</option>
										<option value="stock trading">Stock trading</option>
										<option value="retirement">Retirement</option>
										<option value="other">Other</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary">submit</button>
							</form>
						</div>
					</div>
				</div>
			</section> 
			
			
      		
			{{>footer}}
			
			
			
            
		<!-- FOOTER SCRIPTS
		================================================== -->
		<script src="/static/js/jquery-2.2.0.js"></script>
		<script src="/static/js/smooth-scroll.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/counter.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/jquery.themepunch.plugins.min.js"></script>
		<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/js/scripts.js"></script>
        <script src="/static/js/banner.js"></script>

		
		
		
		<!-- DEMO -->
		<script src="/static/demo-files/js/jquery.cookie.js"></script>
		<script src="/static/demo-files/js/switcher.js"></script>
		
		

    </body>

</html>