<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <base #href="" />

	<!-- Basic Page Needs
     ================================================== -->
	 <meta charset="utf-8">
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>{{tittle}}</title>
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">

	 
	 <!-- Mobile Specific Metas
     ================================================== -->
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="format-detection" content="telephone=no">
	 
     
	 
     <!-- Favicons
     ================================================== -->
     <link rel="icon" type="image/png" href="/static/images/favicon.png">
     
	 
     <!-- Fonts
     ================================================== -->
     <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
     
    <!-- CSS
     ================================================== -->
	
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">

	<!-- advisor -->
	<link rel="stylesheet" href="/static/css/advisor.css">

	<!-- plugins -->
	<link rel="stylesheet" href="/static/css/plugins.css">	

	<!-- advisor color -->
	<link rel="stylesheet" id="color" href="/static/css/color-default.css">

	<!-- revolution slider -->
	<link rel="stylesheet" href="/static/css/settings.css">
	
	<!-- responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">

    
	<script src="/static/js/modernizr.js"></script>
	
	
</head>
    <body class="fixed-header two">
	    	
            
			
			<!-- LOADER -->
			<div id="loader" class="loader">
				<div class="spinner">
				  <div class="double-bounce1"></div>
				  <div class="double-bounce2"></div>
				</div>
			</div>
    {{>header}}



      			<!-- main content  -->


			
<section class="subpage-header">
    <div class="container">
        <div class="site-title clearfix">
            <h2>Japan Business Desk</h2>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li>Japan Business Desk</li>
            </ul>
        </div>
        <a href="/contact" class="btn btn-primary get-in-touch" data-text="Contact us"><i class="icon-telephone114"></i>Contact us</a>
    </div>
</section>

<!-- SERVICES CONTENT -->
<section>
    <div class="container">
        
        <div class="row">
            <div class="col-md-4 animate fadeInLeft">
                <aside>
                    
                    <!-- <ul class="left-nav">
                        <li><a href="/Financial">Financial Planning <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/Financial">Bonds &amp; Commodities <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/Financial" class="active">Turnaround Consulting <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/Financial">Trades &amp; Stocks <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/Financial">Investment Trusts <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/Financial">Mutual Funds <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/Financial">Retirement <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="/Financial">Strategic Planning <i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                    
                    <div class="help-widget">
                        <h5>how can we help you?</h5>
                        <p>You have questions about our financial services, need assistance with your account, or have general inquiries, we're here to help.</p>
                        <a href="/contact" class="btn btn-primary btn-white get-in-touch" data-text="Contact us"><i class="icon-telephone114"></i>Contact us</a>
                    </div>
                    
                    <!-- <a href="#." class="company-presentation-link"><i class="icon-file-pdf-o"></i> Company Presentation</a> -->
                    
                    <!-- <div class="testimonial">
                        <div class="testimonial-content">
                            <h5>Testimonials</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore Love life’s sweetest.</p>
                        </div>
                        
                            
                        <div class="testimonials-author">
                            <img class="img-circle" src="/images/review-author-img.png" alt="">
                            <p>Boris Hunt<span>(Sales Agent)</span></p>
                        </div>
                            
                        
                    </div> -->
                    
                </aside>
            </div>

            <div class="col-md-8 animate fadeInRight">
                <div class="single-item-carousel classic-arrows2 owl-carousel">
                    <img src="/static/images/japan.jpg" alt="">
                </div>
                <br>
                <br>
                <h2>Japan Business Desk  </h2>
                <p>Japan is the center of new trends, innovation, and creativity making an attractive market for foreign investors and company formation in Japan. Japan’s strong technology-based industries provide a multitude of opportunities for foreign companies looking to partner with Japanese companies or company registration. </p>
                <p>Japan is the world’s 3rd largest economy and 2nd largest telecommunication and computer market in the world. Company formation in Japan is a complex process involving various corporate and regulatory process and without adequate knowledge on the market and legal process, it is difficult to compete within the market of Japan. There is a marked shift in the investment strategies of Japanese companies as they expand organically and exponentially in India. </p>
                <p>The Japanese market entry strategy is characterized by consumers with high levels of disposable income who are drawn to premium, high-end goods, and services. Ease of Company formation in Japan often displays a global position with several benefits and an enthusiasm to invest long-term infeasible products and services. </p>
                <p>Foreign companies are interested to collaborate and do partnerships with Japanese companies due to the commitment and loyalty factor they hold. Such relationships provide business stability and also quality improvement as well as cost reduction resulting from combining operational capabilities.</p>
                <p>ASC’s Japan Business Desk (JBD) is a one-stop solution for the advisory needs of Japanese firms, present in the country, or looking to invest here. Our JBD in India comprises a dedicated team with all competencies required to assist Japanese companies in India. Our team draws on the combined resources network of firms in India and Japan to provide comprehensive services to our clients.</p>
                <p>ASC Group Japan Business Desk offers a broad spectrum of services for Company in Japan and Japanese Company in India that includes market entry strategy, Market Research, Mergers & Acquisitions, Management Consulting, Assurance Services, Strategy Consulting, Legal Advisory, Tax, and Regulatory Services, Corporate Compliance, Audit, Certification Services, Transfer Pricing, Corporate Restructuring, Drafting and Documentation, Business Process Improvement, Enterprise Risk Management, Transaction Support Services, Manpower Outsourcing and other consultancy services to individual and companies looking to invest or Company formation in Japan.</p>
                <br>
                <br>
               
                <h3>Tax & Regulatory Services</h3>
                <div class="row">
                    <div class="col-md-8">
                        <p>We assist businesses, organizations, and individuals with tax strategy, planning, and compliance, whilst also delivering a wide range of business advisory services in Japan.</p>
						<ul>
							<li><b>Setting up a subsidiary, branch, and liaison office in India:</b> We assist companies in obtaining the necessary approvals and licenses.</li>
							<li><b>Tax advisory and compliance:</b> We support you in developing tax-efficient strategies and managing your tax exposures considering your individual business needs. We also help clients adhere to various tax and regulatory compliance requirements, as applicable.</li>
							<li><b> Expatriate taxation:</b> We have a dedicated team offering a full range of international assignment tax services, both consulting and compliance, to assist you in harnessing the value of global mobility while managing risks.</li>
							<li><b>Transfer pricing:</b> We provide leading-edge tools and solutions relevant to your industry in the areas of developing a coherent and defensible TP policy, compliance and documentation management, and strategizing and assisting in dealing with global dispute resolution.</li>
							<li><b>Tax assessment proceedings: </b>We provide assistance during tax audits by revenue authorities and corporate tax litigation including representation to the tax officer.</li>
							<li><b>Tax litigation support:</b> Our team can assist you in identifying and addressing potential tax risks, tax dispute avoidance, and resolution as well as litigation support.</li>
							<li><b>Indirect tax: </b>We assist in custom duties, foreign trade policy, free trade agreements, and cross-border supply chains, and anti-dumping duties.</li>
							<li><b>Regulatory services:</b> Our dedicated regulatory team provides services in the areas of FDI policy, exchange control regulations, corporate laws, and industry sectorial regulations. Our regulatory services include structuring investments and transactions and implementation assistance, obtaining regulatory approvals, licenses, clarifications and dispensations, and advice on government policies impacting your business</li>
						</ul>
                    </div>
                </div>
             

                
                
                <br>
               
                
                <div class="height-20"></div>
                
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#investment" aria-controls="investment" role="tab" data-toggle="tab">Investment</a></li>
                    <li role="presentation"><a href="#growth" aria-controls="growth" role="tab" data-toggle="tab">Growth</a></li>
                    <li role="presentation"><a href="#risks-of-investing" aria-controls="risks-of-investing" role="tab" data-toggle="tab">Risks of Investing</a></li>
                 </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="investment">
                        <p>We have over 15 years of experience Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean Lorem ipsm dolor sit the power of consectetur adi pisi cing elit, sed do eiusmod tempor xercitationemut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>expound the actual teachings. of the great explorer of the truth, the  aster-builder of No one rejects, dislikes, or human happiness. </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="growth">
                        <p>expound the actual teachings. of the great explorer of the truth, the  aster-builder of No one rejects, dislikes, or human happiness. </p>
                        <p>We have over 15 years of experience Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean Lorem ipsm dolor sit the power of consectetur adi pisi cing elit, sed do eiusmod tempor xercitationemut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="risks-of-investing">
                        <p>expound the actual teachings. of the great explorer of the truth, the  aster-builder of No one rejects, dislikes, or human happiness. </p>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</section>
<!-- / SERVICES CONTENT -->













      {{>footer}}


<!-- FOOTER SCRIPTS
		================================================== -->
		<script src="/static/js/jquery-2.2.0.js"></script>
		<script src="/static/js/smooth-scroll.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/counter.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/jquery.themepunch.plugins.min.js"></script>
		<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/js/scripts.js"></script>
        <script src="/static/js/banner.js"></script>

		
		
		
		<!-- DEMO -->
		<script src="/static/demo-files/js/jquery.cookie.js"></script>
		<script src="/static/demo-files/js/switcher.js"></script>
		
		

    </body>

</html>